<br/><br/><br/>
<hr class="bg-info w-50 mt-5"/>
<div class="container">
    <div class="row col-12">
        <div class="col-lg-4 col-sm-12 col-xs-12 mt-5">
            <h2>Mohammad IT World</h2>
            <p>Stay Connected..!!</p>
            <div>
                <p><a href="https://www.linkedin.com/in/mohammad-nayeem-85a3a2199/"><i class="fa fa-linkedin mr-2" 
                            aria-hidden="true"></i> </a> Follow us on Linkedin</p>
                <p><i class="fa fa-envelope mr-2" aria-hidden="true"></i>mohammadnayeempasha9@gmail.com</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-xs-12 mt-5 mr-5">
            <h2>About Me</h2>
            <p>I'm a Software Engineer based in India.<br/> I enjoy turning complex problems into simple solutions.
            When I'm not coding, posting on Instagram or making videos for youtube, you will find me at eating,
            watching movie or working out at the park.</p>
        </div>
        <div class="col-lg-3 col-sm-12 col-xs-12 mt-5">
            <h2>Contact Us</h2>
            <p>mohammadnayeempasha9@gmail.com</p>
            <p>Let's build together.</p>
        </div>
    </div>
</div>
