<div class="container mt-5">
    <div class="row">
        <div class="col-lg-9 col-sm-12 col-sm-12">
            <input type="text" [(ngModel)] ="username" name="username" 
                class="form-control" id ="username" placeholder="Please Enter Username" /> &nbsp; 
        </div>
        <div>
            <button type="button" class="btn btn-info" (click) = "searchByUsername()" >Search</button>
        </div>
    </div>

    <h4>Result :</h4>
    
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <table class="table table-striped">
                <thead>
                    <tr class="bg-info text-light">
                        <td><b>Username</b></td>
                        <td><b>First name</b></td>
                        <td><b>Last name</b></td>
                        <td><b>Age</b></td>
                        <td><b>Mobile Number</b></td>
                        <td><b>Password</b></td>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{user.username}}</td>
                        <td>{{user.firstname}}</td>
                        <td>{{user.lastname}}</td>
                        <td>{{user.age}}</td>
                        <td>{{user.mobile}}</td>
                        <td>{{user.password}}</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    
    
</div>
