<div class="container mt-4">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <table class="table table-striped">
            <thead>
                <tr class="bg-info text-light">
                    <th>Username</td>
                    <th>First name</td>
                    <th>Last name</td>
                    <th>Age</td>
                    <th>Mobile Number</td>
                    <th>Password</td>
                    <th>Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.username}}</td>
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.age}}</td>
                    <td>{{user.mobile}}</td>
                    <td>{{user.password}}</td>
                    <td>
                        <button class="btn btn-danger" type="button" (click)="deleteUser(user.username)">Delete</button>&nbsp;
                        <button class="btn btn-success" type="button" (click)="updateUser()">Update</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
